.env
context-files
node_modules
/Sperry-Tech-Challenge
/isa_folder
/frontend/bun.lock
/frontend/node_modules
/frontend/dist
/frontend/.DS_Store
/backend/.DS_Store
/backend/.DS_Store
/backend/bun.lock
/backend/node_modules
